/* Empty. Add your own CSS if you like */

.ion-android-star {
  color: #ccc;
}

.filled-star {
  color: orange;
}

img {
  border-radius: 5px;
}

.description {
  display: flex;
}

.whitespace {
  white-space: normal;
  line-height: 20px;
  cursor: pointer;
}

